* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

canvas {
   position:absolute;
   height:100%; width:100%;
}

.bg-area {
  /*height: 100vh;*/
  font-family: 'Lato', sans-serif;
  /*background-color: grey;*/
}

a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  letter-spacing: 2px;
  text-indent: 2px;
}
a:hover {
  text-decoration: underline;
}

a+a {
  left: auto;
  right: 1rem;
}